<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>OOTD</title>
  <link rel="stylesheet" href="/css/common/footer.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/layout.css">
  <link rel="stylesheet" href="/css/common/reset.css">
</head>
<body>
<header th:replace="~{common/header :: header}"></header>
<main>
  <div th:fragment="content">
    <div class="cart-info" th:each="item : ${Cart}">
      <div class="cart-showProduct">
        <div class="product-img" style="width:250px; height:300px;">
          <img th:src="${item.imageUrls}" th:alt="${item.productName}">
        </div>
        <div class="product-description">
          <a th:href="@{|/products/${item.productNo}|}" class="product-productName" th:text="${item.productName}"></a>
          <div class="product-option"></div>
          <div class="display-product-price-origin"></div>
          <div class="display-product-price">
            <span>[[${item.price}]]</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>